In [13]:
%matplotlib inline
import pandas as pd

In [14]:
df = pd.read_csv("./small_set/TTS1.csv", header = None, encoding = "big5")

- TT TT1 郵件狀態代碼 X(2) | Status_code
- TT TT2 掛號號碼 X(20) | Mail_num
- TT TT3 處理日期 X(10) | Mail_date
- TT TT4 處理時間 X(8) | Mail_time
- TT TT5 處理局號 X(6) | OP_office // operation office
- TT TT6 其它 X(42) | other

In [15]:
df.columns = ["Status_code", "Mail_num", "Mail_date", "Mail_time", "OP_office", "other"]

In [16]:
df

,Status_code,Mail_num,Mail_date,Mail_time,OP_office,other
0,Y4,00000000000000,2018-01-01,09:49:04,330031,003
1,Y4,00000000000000,2018-01-01,09:58:08,330031,002
2,I4,00000000000000,2018-01-01,14:11:51,330031,
3,Y4,00000000000000,2018-01-01,14:23:32,330031,006
4,I4,00000000000000,2018-01-01,14:52:09,330031,
5,I4,00000000000000,2018-01-01,16:15:52,330031,
6,Y4,58668700100170,2018-01-01,11:06:44,100250,001
7,I3,59928400100170,2018-01-01,21:10:45,220014,
8,P5,75233300100170,2018-01-01,05:30:09,704583,
9,A3,19491400101070,2018-01-01,21:40:46,320008,65
10,A3,84509600101270,2018-01-01,16:40:44,500584,60
11,Y4,96513700101370,2018-01-01,10:59:45,100250,001
12,Z4,01576100101470,2018-01-01,12:03:53,880580,880004460
13,Z4,96114600101570,2018-01-01,13:04:05,880580,880003451
14,Z4,14752700101670,2018-01-01,14:48:17,420584,420002001
15,A3,10362200101870,2018-01-01,22:40:46,320000,65
16,Z4,48684100101870,2018-01-01,14:47:57,420584,420002001
17,P4,23799000101970,2018-01-01,21:57:12,500600,
18,Y4,92557900101970,2018-01-01,10:57:30,100250,001
19,Y4,82460500102170,2018-01-01,10:59:52,100250,001
20,V4,98520700102570,2018-01-01,18:02:00,100257,
21,V4,98520900102570,2018-01-01,18:03:00,100257,
22,V4,98521100102570,2018-01-01,18:02:00,100257,
23,V4,98521300102570,2018-01-01,18:02:00,100257,
24,Z4,61353900102870,2018-01-01,14:47:13,420584,420002001
25,P4,72423900102970,2018-01-01,21:57:50,500600,
26,Y4,79068700102970,2018-01-01,11:00:50,100250,001
27,Y4,32588100103170,2018-01-01,10:58:12,100250,001
28,Y4,76287300103170,2018-01-01,15:55:09,420009,002
29,H4,76287300103170,2018-01-01,17:11:26,420009,B12
...,...,...,...,...,...,...
9970,I4,03309940100918,2018-01-02,13:32:55,100572,
9971,A1,03310040100918,2018-01-02,15:57:00,400009,000000000000000010000028 0
9972,A1,03310140100918,2018-01-02,15:57:00,400009,000000000000000010000028 0
9973,A1,03310240100918,2018-01-02,15:57:00,400009,000000000000000010000028 0
9974,A1,03310340100918,2018-01-02,15:57:00,400009,000000000000000010000028 0
9975,Y4,03446840100918,2018-01-02,08:14:21,400584,001
9976,I4,03446840100918,2018-01-02,12:57:59,400584,
9977,Y4,03446940100918,2018-01-02,09:44:54,400589,001
9978,I4,03446940100918,2018-01-02,17:53:28,400589,
9979,Y4,03447040100918,2018-01-02,10:06:55,400047,012
9980,I4,03447040100918,2018-01-02,14:33:49,400047,
9981,Y4,03447140100918,2018-01-02,08:40:19,400589,001
9982,I4,03447140100918,2018-01-02,12:38:44,400589,
9983,Y4,03447240100918,2018-01-02,09:16:59,100598,001
9984,I4,03447240100918,2018-01-02,13:17:52,100598,
9985,Y4,03447340100918,2018-01-02,07:43:25,400584,001
9986,I4,03447340100918,2018-01-02,15:50:42,400584,
9987,Y4,03447440100918,2018-01-02,09:13:08,200600,001
9988,I4,03447440100918,2018-01-02,13:26:48,200600,
9989,Z4,03447540100918,2018-01-02,06:31:36,420032,420037001
9990,Y4,03447540100918,2018-01-02,09:26:40,420037,001
9991,I4,03447540100918,2018-01-02,14:41:45,420037,
9992,Y4,03447640100918,2018-01-02,07:21:37,400584,001
9993,I4,03447640100918,2018-01-02,15:50:44,400584,
9994,Y4,03447740100918,2018-01-02,08:37:57,830600,001
9995,I4,03447740100918,2018-01-02,14:39:43,830600,
9996,A1,05579140100916,2018-01-02,16:46:00,400009,000000000000000008000028 0
9997,Z4,05579140100916,2018-01-02,21:16:18,400672,4005840001
9998,A1,05579240100916,2018-01-02,16:46:00,400009,000000000000000008000028 0
9999,Z4,05579240100916,2018-01-02,20:30:37,400672,3605820001

# 定義：狀態碼為**點**

In [17]:
df.Status_code.unique()

array(['Y4', 'I4', 'I3', 'P5', 'A3', 'Z4', 'P4', 'V4', 'H4', 'W2', 'Z2',
       'I2', 'T2', 'A1', 'V2', 'I7', 'A2', 'G2', 'T5', 'X2', 'VL', 'H7',
       'Z1', 'G1', 'I1', 'Y7', 'V3', 'T4', 'S2', 'G3', 'I5', 'T1'],
      dtype=object)

In [18]:
nodes = list(df.Status_code.unique())

In [19]:
head_nodes = sorted(list(set([node[0] for node in nodes])))

In [20]:
dic_nodes = dict( zip(head_nodes, range(len(head_nodes))) )

In [21]:
label_node = lambda x:dic_nodes[x[0]]

In [22]:
label_node("T4")

6

In [23]:
data_nodes = []
for node in nodes:
    data = { "id":node, "group": label_node(node)}
    data_nodes.append(data)

In [24]:
data_nodes

[{'group': 10, 'id': 'Y4'},
 {'group': 3, 'id': 'I4'},
 {'group': 3, 'id': 'I3'},
 {'group': 4, 'id': 'P5'},
 {'group': 0, 'id': 'A3'},
 {'group': 11, 'id': 'Z4'},
 {'group': 4, 'id': 'P4'},
 {'group': 7, 'id': 'V4'},
 {'group': 2, 'id': 'H4'},
 {'group': 8, 'id': 'W2'},
 {'group': 11, 'id': 'Z2'},
 {'group': 3, 'id': 'I2'},
 {'group': 6, 'id': 'T2'},
 {'group': 0, 'id': 'A1'},
 {'group': 7, 'id': 'V2'},
 {'group': 3, 'id': 'I7'},
 {'group': 0, 'id': 'A2'},
 {'group': 1, 'id': 'G2'},
 {'group': 6, 'id': 'T5'},
 {'group': 9, 'id': 'X2'},
 {'group': 7, 'id': 'VL'},
 {'group': 2, 'id': 'H7'},
 {'group': 11, 'id': 'Z1'},
 {'group': 1, 'id': 'G1'},
 {'group': 3, 'id': 'I1'},
 {'group': 10, 'id': 'Y7'},
 {'group': 7, 'id': 'V3'},
 {'group': 6, 'id': 'T4'},
 {'group': 5, 'id': 'S2'},
 {'group': 1, 'id': 'G3'},
 {'group': 3, 'id': 'I5'},
 {'group': 6, 'id': 'T1'}]

# 定義：狀態的改變**線** 
- 要依據狀態、郵件號碼及時間去決定線的連接
- 時間的轉換，請參考 [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)


# 定義：**線**，狀態的改變
- 要依據狀態、郵件號碼及時間去決定**線** 的連接
- 時間的轉換，請參考 [pandas.to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)

In [25]:
df["Mail_datetime"] = df.Mail_date + " " + df.Mail_time

In [26]:
df.Mail_datetime = pd.to_datetime(df.Mail_datetime)

```
all_mail["58668700100170"] = [ ("Y4", "2018-01-01 09:49:04"),
                           ("I4", "2018-01-01 14:11:51"), ... ] 

```

In [27]:
all_mail ={}
for idx, row in df.head(5000).iterrows():
#     print(idx, row.Status_code, row.Mail_num.strip(), row.Mail_datetime)
    
    if not row.Mail_num.strip() in all_mail:
        all_mail[row.Mail_num.strip()] = []
        
    all_mail[row.Mail_num.strip()].append( (row.Status_code, row.Mail_datetime) )

In [28]:
len(all_mail.keys())

3159

In [29]:
def convert_2_edge(mail_status):
    edges = []
    for idx in range(len(mail_status)-1):
        edges.append( (mail_status[idx][0], mail_status[idx+1][0]) )
        
    return edges
# "Y4" -> "H4"
# "H4" -> "Z2"

mail_status = all_mail['96410700000070']
convert_2_edge(mail_status)

[('Y4', 'Y4'), ('Y4', 'I4'), ('I4', 'I4')]

In [30]:
all_edges = [] 
for mail_code in all_mail:
    status_num = len(all_mail[mail_code])
    
    if (status_num) > 2:
        mail_status = all_mail[mail_code]
        all_edges.extend(convert_2_edge(mail_status))

In [31]:
import collections
import numpy as np

In [32]:
value_list = {}
for edge, value in collections.Counter(all_edges).most_common(1000):
    value_list[edge] = value

list_max = np.max(list(value_list.values()))
list_min = np.min(list(value_list.values()))
list_diff = float(list_max - list_min)

k = 20

normal_val = lambda x: int(k/3+k*2*(x-list_min)/list_diff)

In [33]:
normal_val(1700)

1484

In [34]:
data_edges = []
for edge, value in collections.Counter(all_edges).most_common(1000):
    edge = {"source": edge[0], "target":edge[1], "value":normal_val(value)}
    data_edges.append(edge)

In [35]:
all_data = {"nodes":data_nodes, "links":data_edges}

In [36]:
import json

In [37]:
open("data_4_d3.json", "w").write(json.dumps(all_data, indent = 2))

4471

# 標準化

In [38]:
from sklearn import preprocessing
import numpy as np

In [39]:
data_edges = []
sss = []
for edge, value in collections.Counter(all_edges).most_common(1000):
    edge = { "source": edge[0], "target":edge[1], "value":value }
    data_edges.append(edge)
    sss.append(value)

In [40]:
print(sss)

[47, 36, 21, 15, 11, 10, 9, 6, 4, 4, 4, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [41]:
X = preprocessing.scale(sss)

In [42]:
print(X)

[ 4.3887404   3.22939949  1.64848008  1.01611231  0.5945338   0.48913917
  0.38374454  0.06756066 -0.1432286  -0.1432286  -0.1432286  -0.24862322
 -0.24862322 -0.35401785 -0.35401785 -0.35401785 -0.35401785 -0.35401785
 -0.35401785 -0.35401785 -0.35401785 -0.35401785 -0.35401785 -0.45941248
 -0.45941248 -0.45941248 -0.45941248 -0.45941248 -0.45941248 -0.45941248
 -0.45941248 -0.45941248 -0.45941248 -0.45941248 -0.45941248 -0.45941248
 -0.45941248 -0.45941248 -0.45941248]

In [7]:
df['Mail_num'].value_counts()

00000000000000          13
02620770702618           6
02074210701218           5
88026300100270           5
47101000100270           5
96410700000070           4
04874230237110           4
44702310028418807913     4
02604970702618           4
07051010701218           4
05450600100170           4
44619310028418557000     4
44619810028418557555     4
83362900100170           4
09020900100170           4
28280000100070           4
03093910701218           4
58608200100170           4
07020010701218           4
07475730205628           4
24547800100270           4
04871830237110           4
18863110028418           3
18959130245016           3
31509500100170           3
58688400100170           3
07476830205628           3
00631040100878           3
44778910028418950557     3
12684340100816           3
                        ..
03573640100816           1
14206210701018           1
07705330205628           1
75607140000070           1
20792930245018           1
07705130205628           1
23569530245018           1
28540300100370           1
03310140100918           1
02459370702618           1
04876830237110           1
23571730245018           1
53201210028318326665     1
00602124124878           1
00398533000020           1
00435490010070           1
00399133000020           1
01381124124878           1
00189010005518           1
09385440100816           1
01187000105670           1
00434290010070           1
09154630245018           1
09152130245018           1
03105010701218           1
09150630245018           1
00148580115918           1
18960030245016           1
07712030205628           1
00013832000020           1
Name: Mail_num, Length: 5982, dtype: int64

In [11]:
X = preprocessing.scale(df['Mail_num'])

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/preprocessing/data.py:176: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [12]:
print(X)

[-0.20302762 -0.20302762 -0.20302762 ... -0.20302719 -0.20302719
 -0.20302719]